{% extends 'top-footer.html' %}
{% block content %}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Book Record</h1>
    <p class="mb-4">올해 {{ userNm }}님이 남긴 독서 기록을 확인해보세요! </p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">독서 기록</h6>
        </div>
        <div class="card-body">
            <h6 style="float:right;" id="totalrow"></h6>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-bottom:0.1rem;">
                      <colgroup>
                        <col style="width: 15%;">
                        <col style="width: 35%;">
                        <col style="width: 15%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>읽은 날짜</th>
                            <th>책 제목</th>
                            <th>글쓴이</th>
                            <th>읽은 페이지</th>
                            <th>누적 페이지</th>
                            <th>총 페이지</th>
                        </tr>
                    </thead>
                    <tbody id="myrecord"></tbody>
                </table>
                <label class="form-label" style="font-size:0.8rem; margin-top:0; margin-bottom:1rem;">기록을 삭제하려면 삭제하고 싶은 기록을 클릭해주세요.</label>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pagination"></ul>
                </nav>

            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal" id="delModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">기록을 삭제 하시겠습니까?</h5>
                </div>
                <div class="modal-body">삭제를 원하지 않으시면 '닫기'를 눌러주세요</div>
                <div class="modal-footer">
                    <button id="test" class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                    <form action="/recordDelDo" method="post">
                        <input type="hidden" name="isbn" id="isbn">
                        <input type="hidden" name="rday" id="rday">
                        <button class="btn btn-primary" type="submit" id="delBtn">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- /.container-fluid -->


<script>
    $(document).ready(function(){
        // Load total record count and update the text
        var totalrow = {{ totalrow|tojson }}[0];
        $("#totalrow").text("총 " + totalrow + "건");

        const recordsPerPage = 10;
        const endPage = Math.ceil(totalrow / recordsPerPage);
        const myrecords = {{ myrecords|tojson }};
        let currentPage = 1;

        // 페이지 해당 하는 로우 출력
        function renderPage(pageNumber) {
            currentPage = pageNumber;
            $("#myrecord").empty();
            let start = (pageNumber - 1) * recordsPerPage;
            let end = start + recordsPerPage;
            let str = "";

            for (let i = start; i < end && i < myrecords.length; i++) {
                const record = myrecords[i];

                str += "<tr id='"+ record[6] +"'>";
                str += "<td id='"+ record[2] +"'>" + record[2] + "</td>";
                str += "<td>" + record[0] + "</td>";
                str += "<td>" + record[1] + "</td>";
                str += "<td>" + record[3] + "</td>";
                str += "<td>" + record[4] + "</td>";
                str += "<td>" + record[5] + "</td>";
                str += "</tr>";
            }
            $("#myrecord").append(str);

            // 현재 페이지 표시
            $("#pagination .page-item").removeClass("active");
            $("#pagination .page-item[data-page='" + pageNumber + "']").addClass("active");
        }


        // 페이지네이션 버튼을 설정
        function setupPagination() {
            $("#pagination").empty();
            for (let i = 1; i <= endPage; i++) {
                let pageItem = $('<li class="page-item" data-page="' + i + '"><a class="page-link" href="#">' + i + '</a></li>');
                pageItem.click(function(event) {
                    event.preventDefault();  // Prevents adding # to the URL
                    renderPage(i);
                });
                $("#pagination").append(pageItem);
            }
        }
        setupPagination();
        renderPage(1);

        $("tr:not(:first)").mouseover(function(){
            $(this).addClass("hover");
        });
        $("tr").mouseout(function(){
            $(this).removeClass("hover");
        });

        $("tr:not(:first)").on("click", function(){
            $("#delModal").show();
            var id = $(this).attr("id");
            $("#isbn").val(id);
            var td1 = $(this).children("td:eq(0)");
            var rday = td1.attr("id");
            $("#rday").val(rday);
        });
        $("#test").click(function(){
            $("#delModal").hide();
        });

    });
</script>

<style>

    .hover { background: rgb(162, 172, 154, 0.2); }

</style>

{% endblock %}
