{% extends 'top-footer.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Book List</h1>
    <p class="mb-4">올해 {{ userNm }}님이 읽은 책 목록을 확인해보세요!</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">책 목록</h6>
        </div>
        <div class="card-body">
            <h6 style="float:right;" id="totalrow"></h6>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>책 제목</th>
                            <th>글쓴이</th>
                            <th>총 페이지</th>
                            <th>읽기 시작한 날</th>
                            <th>전부 읽은 날</th>
                            <th>카테고리</th>
                            <th>메모</th>
                        </tr>
                    </thead>
                    <tbody id="mybooks"></tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pagination"></ul>
                </nav>

            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">상세 독서 기록</h5>
                </div>
                <div class="modal-body" id="detail">

                </div>
                <div class="modal-footer">
                    <button id="test" class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<script>
    $(document).ready(function(){

        var mybooks = {{ mybooks|tojson }};
        var totalrow = mybooks.length;
        $("#totalrow").text("총 " + totalrow + "권");

        const recordsPerPage = 10;
        const endPage = Math.ceil(totalrow / recordsPerPage);
        let currentPage = 1;

        // 페이지 해당 하는 로우 출력
        function renderPage(pageNumber) {
            currentPage = pageNumber;
            $("#mybooks").empty();
            let start = (pageNumber - 1) * recordsPerPage;
            let end = start + recordsPerPage;
            let str = "";

            for (let i = start; i < end && i < mybooks.length; i++) {
                const book = mybooks[i];
                str += "<tr id='" + book[7] +"'>";
                str += "<td>" + book[0] + "</td>";
                str += "<td>" + book[1] + "</td>";
                str += "<td>" + book[2] + "</td>";
                str += "<td>" + book[3] + "</td>";
                str += "<td>" + book[4] + "</td>";
                str += "<td>" + book[5] + "</td>";
                str += "<td>" + book[6] + "</td>";
                str += "</tr>";
            }
            $("#mybooks").append(str);

            // 현재 페이지 표시
            $("#pagination .page-item").removeClass("active");
            $("#pagination .page-item[data-page='" + pageNumber + "']").addClass("active");
        }

        // 페이지네이션 버튼을 설정
        function setupPagination() {
            $("#pagination").empty();
            for (let i = 1; i <= endPage; i++) {
                let pageItem = $('<li class="page-item" data-page="' + i + '"><a class="page-link" href="#">' + i + '</a></li>');
                pageItem.click(function(event) {
                    event.preventDefault();  // Prevents adding # to the URL
                    renderPage(i);
                });
                $("#pagination").append(pageItem);
            }
        }
        setupPagination();
        renderPage(1);

        $("tr:not(:first)").mouseover(function(){
            $(this).addClass("hover");
        });
        $("tr").mouseout(function(){
            $(this).removeClass("hover");
        });

        $("tr:not(:first)").on("click", function(){

            var id = $(this).attr("id");
            $("#isbn").val(id);
            fn_detail(id);
            $("#detailModal").show();
        });
        $("#test").click(function(){
            $("#detailModal").hide();
        });

    });

    function fn_detail(isbn){
        let url = "http://127.0.0.1:5000/showdetail";
        $.ajax({
             url : url
            ,type : 'POST'
            ,data :  JSON.stringify({isbn:isbn})
            ,dataType : 'json'
            ,success : function(res){
                console.log(res);
                $("#detail").empty();
                let str = "";
                let book = res;
                str += '<table>';
                str += '<table style="text-align: center;">';
                str += '<colgroup>';
                str += '<col style="width: 25%;">';
                str += '<col style="width: 25%;">';
                str += '<col style="width: 25%;">';
                str += '<col style="width: 25%;">';
                str += '</colgroup>';
                str += '<tr><td colspan="2" rowspan="4"><img src="' + book[7] + '"></td>';
                str += '<td colspan="2"><strong>' + book[0] + '</strong></td></tr>';
                str += '<tr><td colspan="2">' + book[1] + '</td></tr>';
                str += '<tr><td colspan="2">' + book[2] + '원</td></tr>';
                str += '<tr><td>' + book[3] + '</td>';
                str += '<td>' + book[4] + '</td></tr>';
                str += '<tr><td>읽기 시작한 날</td>';
                str += '<td>'+ book[8] +'</td>';
                str += '<td>다 읽은 날</td>';
                str += '<td>'+ book[9] +'</td></tr>';
                str += '<tr><td>예상 독서 일수</td>';
                str += '<td>'+ book[5] + '</td>';
                str += '<td>실제 독서 일수</td>';
                str += '<td>'+ book[10] + '</td></tr>';
                str += '</table>';
                $("#detail").append(str);
            },error(e){
                console.log(e);
            }
        })

    }

</script>

<style>

    .hover { background: rgb(162, 172, 154, 0.2); }

</style>

{% endblock %}