{% extends 'top-footer.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>
    <p class="mb-4">올해 {{ userNm }}님이 읽은 책 목록을 확인해보세요!</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">책 목록</h6>
        </div>
        <div class="card-body">
            <h6 style="float:right;" id="totalrow"></h6>
            <div class="table-responsive">
                <table class="table table-bordered table-hover " id="dataTable" width="100%" cellspacing="0" style="margin-bottom:0.2rem; text-align: center;">
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 22%;">
                        <col style="width: 8%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 11%;">
                        <col style="width: 9%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>책 제목</th>
                            <th>글쓴이</th>
                            <th>총 페이지</th>
                            <th>읽기 시작한 날</th>
                            <th>전부 읽은 날</th>
                            <th>카테고리</th>
                            <th>메모</th>
                        </tr>
                    </thead>
                    <tbody id="mybooks"></tbody>

                </table>
                <label class="form-label" style="font-size:0.8rem; margin-top:0; margin-bottom:1rem;">도서를 클릭하면 상세 정보를 열람하실 수 있습니다.</label>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pagination"></ul>
                </nav>

            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">상세 정보</h5>
                </div>
                <div class="modal-body" id="detail">

                </div>
                <div class="modal-footer">
                    <button id="test" class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<script>
    $(document).ready(function(){

        var mybooks = {{ mybooks|tojson }};
        var totalrow = mybooks.length;
        $("#totalrow").text("총 " + totalrow + "권");

        const recordsPerPage = 10;
        const endPage = Math.ceil(totalrow / recordsPerPage);
        let currentPage = 1;

        // 페이지 해당 하는 로우 출력
        function renderPage(pageNumber) {
            currentPage = pageNumber;
            $("#mybooks").empty();
            let start = (pageNumber - 1) * recordsPerPage;
            let end = start + recordsPerPage;
            let str = "";

            for (let i = start; i < end && i < mybooks.length; i++) {
                const book = mybooks[i];
                str += "<tr onclick='fn_checkli(this)' id='" + book[7] +"'>";
                str += "<td>" + book[0] + "</td>";
                str += "<td>" + book[1] + "</td>";
                str += "<td>" + book[2] + "</td>";
                str += "<td>" + book[3] + "</td>";
                str += "<td>" + book[4] + "</td>";
                str += "<td>" + book[5] + "</td>";
                str += "<td>" + book[6] + "</td>";
                str += "</tr>";
            }
            $("#mybooks").append(str);

            // 현재 페이지 표시
            $("#pagination .page-item").removeClass("active");
            $("#pagination .page-item[data-page='" + pageNumber + "']").addClass("active");
        }

        // 페이지네이션 버튼을 설정
        function setupPagination() {
            $("#pagination").empty();
            for (let i = 1; i <= endPage; i++) {
                let pageItem = $('<li class="page-item" data-page="' + i + '"><a class="page-link" href="#">' + i + '</a></li>');
                pageItem.click(function(event) {
                    event.preventDefault();  // Prevents adding # to the URL
                    renderPage(i);
                });
                $("#pagination").append(pageItem);
            }
        }
        setupPagination();
        renderPage(1);


        $("#test").click(function(){
            $("#detailModal").hide();
        });

    });

    function fn_checkli(obj){
            var bookid = $(obj).attr("id");
            $("#isbn").val(bookid);

            fn_detail(bookid);
            $("#detailModal").show();
    }


    function fn_detail(bookid){
        let url = "http://127.0.0.1:5000/showdetail";
        $.ajax({
             url : url
            ,type : 'POST'
            ,data :  JSON.stringify({bookid:bookid})
            ,dataType : 'json'
            ,success : function(res){
                $("#detail").empty();
                let str = "";
                let book = res;
                str += '<table border style="text-align: center; border-color:#ffffff; background-color:#a2ac9a33;">';
                str += '<colgroup>';
                str += '<col style="width: 30%;"><col style="width: 30%;"><col style="width: 30%;">';
                str += '</colgroup>';
                str += '<tbody><tr><td rowspan="9" style="background-color:#ffffff;"><img src="' + book[7] + '"  width = "100%;"></td>';
                str += '<th colspan="2"  style="background-color:#a2ac9a1a;">' + book[0] + '</th></tr>';
                str += '<tr><td colspan="2">' + book[1] + '</td></tr>';
                str += '<tr><th>가격</th><td>' + book[2] + '원</td></tr>';
                str += '<tr><th>카테고리</th><td>' + book[3] + '</td>';
                str += '<tr><th>메모</th><td>' + book[4] + '</td></tr>';
                str += '<tr><th>읽기 시작한 날</th>';
                str += '<td>'+ book[8] +'</td></tr>';
                str += '<tr><th>다 읽은 날</th>';
                str += '<td>'+ book[9] +'</td></tr>';
                str += '<tr><th>예상 독서 일수</th>';
                str += '<td>'+ book[5] + '</td></tr>';
                str += '<tr><th>실제 독서 일수</th>';
                str += '<td>'+ book[10] + '</td></tr>';
                str += '</tbody></table>';
                $("#detail").append(str);
            },error(e){
                console.log(e);
            }
        })

    }

</script>


{% endblock %}