{% extends 'top-footer.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Book Record</h1>
    <p class="mb-4">올해 {{ userNm }}님이 남긴 독서 기록을 확인해보세요! </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">독서 기록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>읽은 날짜</th>
                            <th>책 제목</th>
                            <th>읽은 페이지</th>
                            <th>누적 페이지</th>
                            <th>총 페이지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2024-01-09</td>
                            <td>러시아 혁명사 강의</td>
                            <td>71</td>
                            <td>71</td>
                            <td>283</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2024-01-10</td>
                            <td>러시아 혁명사 강의</td>
                            <td>53</td>
                            <td>124</td>
                            <td>283</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2024-01-11</td>
                            <td>러시아 혁명사 강의</td>
                            <td>46</td>
                            <td>170</td>
                            <td>283</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>2024-01-13</td>
                            <td>러시아 혁명사 강의</td>
                            <td>41</td>
                            <td>211</td>
                            <td>283</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>2024-01-14</td>
                            <td>러시아 혁명사 강의</td>
                            <td>72</td>
                            <td>283</td>
                            <td>283</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>2024-01-14</td>
                            <td>일할 자격</td>
                            <td>108</td>
                            <td>108</td>
                            <td>306</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>2024-01-15</td>
                            <td>일할 자격</td>
                            <td>167</td>
                            <td>275</td>
                            <td>306</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>2024-01-17</td>
                            <td>일할 자격</td>
                            <td>31</td>
                            <td>306</td>
                            <td>306</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>2024-01-17</td>
                            <td>냉소사희</td>
                            <td>44</td>
                            <td>44</td>
                            <td>320</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2024-01-21</td>
                            <td>냉소사회</td>
                            <td>64</td>
                            <td>108</td>
                            <td>320</td>
                        </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}